
<div data-th-fragment="myCss">
	<link href="/assets/images/favicon.ico" rel="apple-touch-icon"
		type="image/png" sizes="144x144">
	<link href="/assets/images/favicon.ico" rel="apple-touch-icon"
		type="image/png" sizes="114x114">
	<link href="/assets/images/favicon.ico" rel="apple-touch-icon"
		type="image/png" sizes="72x72">
	<link href="/assets/images/favicon.ico" rel="apple-touch-icon"
		type="image/png">
	<link href="/assets/images/favicon.ico" rel="icon" type="image/png">
	<link href="/assets/images/favicon.ico" rel="shortcut icon">

	<!-- Global stylesheets -->
	<link href="/fonts/fonts.css" rel="stylesheet" type="text/css">
	<link href="/assets/font-awesome/css/font-awesome.min.css"
		rel="stylesheet" type="text/css">
	<link href="/css/animate.min.css" rel="stylesheet" type="text/css">
	<link href="/css/bootstrap.css" rel="stylesheet" type="text/css">
	<link href="/css/main.css" rel="stylesheet" type="text/css">
	<link href="/css/bootstrap-extended.css" rel="stylesheet"
		type="text/css">
		<link type="text/css" rel="stylesheet" href="bootstrap_popups.htm" id="style">
	<link type="text/css" rel="stylesheet" href="bootstrap_popups.htm" id="theme">
	<link href="/css/plugins.css" rel="stylesheet" type="text/css">
	<link href="/css/color-system.css" rel="stylesheet" type="text/css">
	<link href="/css/media.css" rel="stylesheet" type="text/css">
	


	<link href="/assets/icomoon/icomoon.css" rel="stylesheet"
		type="text/css">
	<link href="/assets/glyphicons/glyphicons.css" rel="stylesheet"
		type="text/css">
	<link href="/css/custom.css" rel="stylesheet" type="text/css">
	
	<link href="/css/daterangepicker.css" rel="stylesheet" type="text/css">
	
	<!-- Data tables printing option -->
	 <link rel="stylesheet" type="text/css" media="screen" href="/backEnd/DataTablesLibrary/buttons.dataTables.min.css"/>
         
         
	
</div>