<div th:fragment="myScript">
	<script src="/js/jquery.min.js"></script>
	<!-- 	<script src="/survey/js/jquery.timepicker.js"></script> -->
	<script src="/js/jquery.validate.min.js"></script>
	<script src="/js/jquery.masknumber.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/moment.min.js"></script>
	<script src="/js/daterangepicker.min.js"></script>

	<script src="/js/fancybox.min.js"></script>
	<script src="/js/app.js"></script>
	<script src="/js/forms/tagsinput.min.js"></script>
	<script src="/js/forms/tokenfield.min.js"></script>
	<script src="/js/forms/typeahead.bundle.min.js"></script>

	<script src="/js/uploaders/fileinput.min.js"></script>

	<script src="/js/full.min.js"></script>

	<script src="/js/jquerysession.js"></script>


	<script src="/js/pnotify.min.js"></script>
	<script src="/js/forms/select2.min.js"></script>
	<script src="/js/datatables/datatables.min.js"></script>
	<script src="/js/charts/google/jsapi.js"></script>
	<script src="/js/charts/google/pies.js"></script>
	<script src="/js/login.js"></script>
	<script src="/js/anotherCustom.js"></script>
	<script src="/js/custom1.js"></script>
	<script src="/js/custom.js"></script>
	<script src="/js/picking.js"></script>
	<script src="/js/Alert/alert.js" type="text/javascript"></script>
	
	
	

	<script src="/js/datatables/datatables.min.js"></script>
	<script src="/js/datatables/extensions/buttons.min.js"></script>
	<!-- For data tables -->

	<!-- Jquery maxlength counter -->
	<script src="/js/jQuery.maxlength.js"></script>

	<!--  Data table printing options-->
	<script src="/DataTablesLibrary/dataTables.buttons.min.js"
		type="text/javascript"></script>
	<script src="/js/DataTablesLibrary/buttons.flash.min.js"
		type="text/javascript"></script>
	<script src="/js/DataTablesLibrary/jszip.min.js" type="text/javascript"></script>
	<script src="/js/DataTablesLibrary/pdfmake.min.js" type="text/javascript"></script>
	<script src="/js/DataTablesLibrary/vfs_fonts.js" type="text/javascript"></script>
	<script src="/js/DataTablesLibrary/buttons.html5.min.js"
		type="text/javascript"></script>
	<script src="/js/DataTablesLibrary/buttons.print.min.js"
		type="text/javascript"></script>

	<!-- Select2 -->


	
	
			
		

</div>